<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Order Success | BabyBloom</title>

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/elegant-icons.css">
<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<!-- Header -->
	<header class="header">
		<div class="container-fluid">
			<div class="row">

				<div class="col-xl-3 col-lg-2">
					<div class="header__logo">
						<a href="/"><img src="img/BabyBloom.png"></a>
					</div>
				</div>

				<div class="col-xl-6 col-lg-7">
					<nav class="header__menu">
						<ul>
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/shopNowNewborn">NEWBORN</a>
								<ul class="dropdown">
									<li><a href="/newbornFashionType?type=SleepSuits">Sleepsuits</a></li>
									<li><a href="/newbornFashionType?type=Romper">Rompers</a></li>
									<li><a href="/newbornFashionType?type=BabySets">Baby
											Sets</a></li>

								</ul></li>
							<li><a href="/shopNowBoysFashion">BOY FASHION</a>
								<ul class="dropdown">
									<li><a href="/boysFashionType?type=T-Shirts">T-Shirts</a></li>
									<li><a href="/boysFashionType?type=Shirts">Shirts</a></li>
									<li><a href="/boysFashionType?type=PantsBottomWear">Pants
											& Bottom Wear</a></li>

								</ul></li>
							<li><a href="/shopNowGirlsFashion">GIRL FASHION</a>
								<ul class="dropdown">
									<li><a href="/girlsFashionType?type=Dresses">Dresses</a></li>
									<li><a href="/girlsFashionType?type=Tops/T-Shirts">Tops
											/ T-Shirts</a></li>
									<li><a href="/girlsFashionType?type=Skirts">Skirts</a></li>
									<li><a href="/girlsFashionType?type=PantsLeggings">Pants
											& Leggings</a></li>

								</ul></li>

							<li><a href="/contacts">Contact</a></li>
						</ul>
					</nav>
				</div>

			</div>
		</div>
	</header>


	<!-- Success Section -->
	<section class="shop-cart spad">

		<div class="container">

			<div class="row justify-content-center">

				<div class="col-lg-6 text-center">

					<h2 style="color: #28a745; margin-bottom: 15px;">Payment
						Successful...</h2>

					<h3 style="margin-bottom: 30px;">Continue Shopping....</h3>

					<a href="/" class="primary-btn" style="margin-right: 15px;">
						Continue Shopping </a> <a href="/userOrderHistory" class="site-btn"> View
						Order </a>

				</div>

			</div>

		</div>

	</section>



	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<div class="footer__copyright__text">
				<p>
					©
					<script>
						document.write(new Date().getFullYear());
					</script>
					BabyBloom. All rights reserved.
				</p>
			</div>
		</div>
	</footer>



	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>